black==24.4.2
pylint==3.2.2
flake8==7.0.0
Cython==3.0.10
alpaca-trade-api==3.2.0
google-cloud-logging==3.10.0
therapist==2.1.0
setuptools==53.0.0
wheel==0.36.2
twine==3.3.0
bandit==1.7.0
scipy
solana
pytest_asyncio
pytest
finrashortdata
