black==23.9.1
pylint==2.17.7
flake8==6.1.0
Cython==3.0.2
alpaca-trade-api==3.0.2
google-cloud-logging==3.7.0
therapist==2.1.0
setuptools==53.0.0
wheel==0.36.2
twine==3.3.0
bandit==1.7.0
scipy
solana
pytest_asyncio
pytest
finrashortdata
