black==26.5.1
pylint==4.0.6
flake8==7.3.0
Cython==3.2.8
alpaca-trade-api==3.2.0
google-cloud-logging==3.16.0
therapist==2.2.0
setuptools==83.0.0
wheel==0.47.0
twine==3.3.0
bandit==1.7.0
scipy
solana
pytest_asyncio
pytest
finrashortdata
